{% load static %}

<footer class="footer">
	<div class="container">
		<div class="logo-footer">
			<a href="/">
				<img src="{% static 'home/logo.png' %}" alt="Лого">
			</a>
		</div>
		<div class=social>
			<a href="https://www.instagram.com/eugene__miller/">
				<img class="insta" h src="{% static 'home/insta.png' %}" alt="">
			</a>
			<a href="https://vk.com/id25499500">
				<img class="vk"  src="{% static 'home/vk.png' %}" alt="">
			</a>
		</div>
	</div>
	<div class="text-muted"><p>Copyright 330304<br>2017</br></p></div>
</footer>
